<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'cssSauce/pets.css' %}" />
        <div id="images">
                <img src="{% static 'images/cat.png' %}" alt="image of cat"/>
            <h1>The Students Pets Page</h1>
                <img src="{% static 'images/CatStaring.jpg' %}" alt="image of a cat staring at the camera"/>
        </div>
      <title>Students Cats</title>
    </head>
    <body>
    <div id="link">
    <a href="/petsApp/pets/">About pets of students</a> <br />
        </div>
      <div id="main-block">
        <h2>The Students and their cats</h2>
    <div id="list">
    {% if student %}
        <ul>
        {% for s in student %}
            {% if s.cats_set.count == 1 %}
            <li>{{ s.firstName }} {{ s.lastName }} has <strong weight="bold">{{ s.cats_set.count }}</strong> cat </li>
            {% else %}
            <li>{{ s.firstName }} {{ s.lastName }} has <strong weight="bold">{{ s.cats_set.count }}</strong> cats </li>
            {% endif %}
                <div>
                    <ul>
                        {% for cat in s.cats_set.all|dictsort:"name" %}
                        <li>{{ cat.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
        {% endfor %}
            </ul>
    {% else %}
        <strong>No Students here here!</strong>

    {% endif %}
    </div>
          </div>
    </body>
 </html>