<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
         <link rel="stylesheet" type="text/css" href="{% static 'cssSauce/pets.css' %}" />
        <div id="images">
            <img src="{% static 'images/cats-with-goggels.jpg' %}"  alt="image of a cat with goggles on"/>
            <h1>The Students Pets Page</h1>
            <img src="{% static 'images/cats_with_fire.jpg' %}"  alt="image of cats at a fire"/>
        </div>
      <title>About Cats</title>
    </head>
    <body>
      <div id="link">
        Click to go back <a href="/petsApp">home</a> <br />
      </div>
      <div id="main-block">
          <h2>All the cats are</h2>
      <div id="list">
      {% if cats %}
          <ul>
      {% for cat in cats %}
        <li>{{ cat.name }} </li>
      {% endfor %}
              </ul>
      {% else %}
          <strong>No cats here!</strong>

      {% endif %}
          </div>
          </div>
    </body>
 </html>