<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <img src="{% static 'images/cats_with_fire.jpg' %}"  alt="image of cats at a fire"/>
      <title>Abut Cats</title>
    </head>
    <body>
      <h1>All the cats are:</h1>
      <div>
        Click to go back <a href="/petsApp">home</a> <br />
      </div>
      <div>
      {% if cats %}
          <ul>
      {% for cat in cats %}
        <li>{{ cat.name }} </li>
      {% endfor %}
              </ul>
      {% else %}
          <strong>No cats here!</strong>

      {% endif %}
          </div>
    </body>
 </html>