<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <img src="{% static 'images/cat.png' %}"  alt="image of cat"/>
      <title>Students Cats</title>
    </head>
    <body>
      <h1>The Students and their cats:</h1>
      <div>
        <a href="/rango/about/">About pets of students</a> <br />
      </div>
    <div>
    {% if student %}
        <ul>
    {% for s in student %}
        <li>{{ student.firstName }} {{ student.lastName }} has {{ student.noOfcats }} cats </li>
                <div>
                    <ul>
                        {% for cat in student.cats_set.all %}
                        <li>{{ cat.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
    {% endfor %}
            </ul>
    {% else %}
        <strong>No Students here here!</strong>

    {% endif %}
    </div>
    </body>
 </html>